.homeHero {
    &__container {
        position: relative;
        display: flex;
        // align-items: center;
        justify-content: center;
        padding: 100px 142px 179px;
        // gap: 96px;
    }

    &__info {
        font-weight: 400;
        font-size: clamp(12px, 3vw, 20px);
        line-height: 200%;
        color: #5c4529;
        
        h1 {
            font-family: var(--third-family);
            font-weight: 700;
            font-size: clamp(60px, 4vw, 80px);
            line-height: clamp(100%, 4vw, 110%);
            color: #311f09;
            margin-top: 33px;
            margin-left: 15px;
        }
    }

    &__sub {
        position: relative;
        width: 152px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--third-family);
        font-weight: 400;
        font-size: clamp(12px, 3vw, 18px);
        line-height: 110%;
        color: var(--primary);
        margin-top: 32px;
        margin-left: 2px;

        &::before {
            content: '';
            position: absolute;
            background: var(--primary);    
            opacity: 0.2;
            border-radius: 126px;
            width: 152px;
            height: 40px;
        }
    }

    &__desc {
        margin-top: 30px;
        margin-left: 15px;
    }

    &__btns {
        margin-top: 77px;
        display: flex;
        gap: 24px;
        font-weight: 600;
        font-size: clamp(11px, 4vw, 20px);
        padding-left: 15px;
    }

    &__order {
        font-weight: 600;
        font-size: clamp(11px, 3vw, 20px);
        padding: clamp(10px, 3vw, 22px) clamp(37px, 3vw, 62px);
        min-height: 44px;
    }

    &__reservation {
        font-weight: 600;
        font-size: clamp(11px, 3vw, 20px);
        padding: clamp(10px, 3vw, 22px) clamp(32px, 3vw, 62px);
        min-height: 44px;
    }

    img {
        max-height: 600px;
        max-width: 700px;
        min-width: none;
        min-height: none;
    }
}

@include big-tablet {
    .homeHero {
        &__container {
            padding: 11px 0 56px 10px;
            flex-direction: column;
            gap: 40px;
            align-items: center;
        }

        &__sub {
            width: clamp(93px, 4vw, 152px);
            margin-left: 15px;

            &::before {
                width: clamp(93px, 4vw, 152px);
                height: clamp(25px, 4vw,40px);
            }
        }

        &__info {
            h1 {
                margin-top: clamp(23px, 4vw, 33px);
            }
        }

        &__desc {
            margin-top: 15px;
        }

        &__btns {
            margin-top: 40px;
            gap: 25px;
        }

        &__order {
            height: 44px;
            // padding: 0;
        }

        &__resrvation {
            height: 44px;
        }

        img {
            max-width: 368px;
            max-height: 315px;
            width: 100%;
        }
    }

}