.contactPage {
    &__container {
        display: flex;
        flex-direction: column;
        padding: 95px 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: clamp(30px, 6vw, 80px);
            text-align: center;
            color: var(--text);
        }

        input {
            font-size: clamp(11px, 3vw, 25px);
            padding: 32px 80px;
            width: 100%;
        }

        div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 32px;
            row-gap: 50px;
            width: 100%;
            margin-top: 108px;

        }

        form {
            max-width: 1110px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        textarea {
            height: 385px;
            font-size: clamp(11px, 3vw, 25px);
            padding: 60px 80px;
            margin-top: 50px;
        }

        button {
            width: 100%;
            max-width: 540px;
            border-radius: 20px;
            padding: 30px;
            font-size: clamp(14px, 4vw, 25px);
            margin-top: 98px;
        }

    }

    &__desc {
        font-weight: 400;
        font-size: clamp(12px, 3vw, 25px);
        text-align: center;
        color: #5c4529;
        padding: 35px 210px 0;
    }

    &__map {
        margin-top: 115px;
    }
}

@include big-tablet {
    .contactPage {
        &__container {
            padding: 12px 0;
        }

        &__desc {
            padding: 13px 0 0;
        }

        &__form {
            padding: 0 25px;
            
            div {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                row-gap: 16px;
            }

            input {
                font-size: clamp(11px, 3vw, 25px);
                padding: clamp(18px, 3vw, 32px) clamp(25px, 3vw, 80px);
                width: 100%;
            }

            textarea {
                height: clamp(194px, 3vw, 385px);
                padding: 60px 80px;
                padding: clamp(16px, 3vw, 60px) clamp(25px, 3vw, 80vw);
                margin-top: 22px;
            }

            button {
                border-radius: 20px;
                padding: clamp(19px, 3vw, 30px);
                font-size: clamp(14px, 3vw, 25px);
                margin-top: 38px;
            }
        }

        &__map {
            margin-top: 100px;
        }
    }
}