.footer {
    background: var(--text);
    color: #e3e2e0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;

    }

    &__top {
        display: grid;
        grid-template-columns: 352px repeat(3, 1fr);
        gap: 70px;
        width: 100%;
        padding: 149px 0 18px;
        max-width: 1112px;
    }

    &__logo {
        margin-bottom: 45px;
    }

    &__col {
        &-title {
            font-weight: 600;
            font-size: clamp(16px, 4vw, 25px);
            line-height: 200%;
            color: var(--primary);
            margin-bottom: 25px;
        }

        &:nth-child(3) {
            margin-right: 70px;
        }

        div {
            display: flex;
            gap: 30px;
            margin-top: 39px;

            a {
               background: #ddd5d5; 
               height: clamp(40px, 4vw, 60px);
               width: clamp(40px, 4vw, 60px);
               display: flex;
               align-items: center;
               justify-content: center;
               border-radius: 100%;

               img {
                height: clamp(20px, 4vw, 30px);
                width: clamp(20px, 4vw, 30px);
               }
            }
        }

        address {
            font-weight: 400;
            font-size: clamp(14px, 4vw, 20px);
            line-height: 153%;
            color: #e3e2e0;
        }


        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            text-wrap: nowrap;
        }

        a {
            font-weight: 300;
            font-size: clamp(14px, 3vw, 20px);
            line-height: 200%;
            color: var(--white);
        }
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp(14px, 3vw, 20px);
        line-height: 200%;
        color: #e3e2e0;
        margin-top: 30px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 74px 0;
        font-weight: 400;
        font-size: clamp(14px, 3vw, 20px);
        line-height: 200%;
        color: #e3e2e0;
    }
}

@include big-tablet {
    .footer {
        &__container {
            padding: 92px 25px 0;
        }

        &__top {
            display: flex;
            flex-direction: column;
            padding-top: 0;
            gap: 0px;
        }

        &__bottom {
            align-items: start;
            justify-content: start;
            width: 100%;
            padding: 40px 0;
        }

        &__text {
            margin-top: 20px;
        }

        &__col {
            div {
                margin-top: 30px;
                gap: clamp(20px, 4vw, 30px);
            }

            &:nth-child(2) {
                margin-top: 67px;
            }

            &:nth-child(3) {
                margin-top: 25px;
            }

            &:nth-child(4) {
                margin-top: 20px;
            }

            &-title {
                margin-bottom: 20px;
            }

            ul {
                gap: clamp(7px, 2vw, 15px);
            }
        }
    }
}