.headerUser {
    &__container {

        button {
            background: transparent;
            border: none;
            font-size: 14px;
            font-family: var(--font-family, sans-serif);
            text-align: center;
            width: 100%;
            position: relative;
            cursor: pointer;

            &::after {
                content: '';
                height: 1px;
                background-color: black;
                width: 50%;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }

    }

    &__btn {
        
    }
}