.homeMenu {
    &__container {
        padding: 164px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: clamp(35px, 5vw, 80px);
            line-height: clamp(115%, 4vw, 200%);
            color: var(--text);
            text-align: center;
        }
    }

    &__link {
        position: relative;
        padding: 17px 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        text-wrap: nowrap;

        &::before {
            content: '';
            background: #d0ccc7;
            opacity: 0.1;
            border-radius: 163px;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    &__link-active {
        position: relative;
        padding: 17px 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        transition: all 0.3s ease-in-out;

        &::before {
            content: '';
            background: #311f09;
            border-radius: 163px;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    &__list {
        font-weight: 400;
        font-size: 20px;
        line-height: 200%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__cats {
        display: flex;
        // align-items: center;
        justify-content: center;
        gap: 27.5px;
        height: 75px;
        margin-top: 61px;
        max-width: 1280px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 0 0 0 555px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        padding-top: 60px;
    }

    &__pagination {
        display: flex;
        justify-content: center;
        margin-top: 88px;

        &-back {
            background: #311f09;
            // transform: rotate(-180deg);
            padding: 16px 13px;
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            cursor: pointer;

            img {

            }
        }

        &-next {
            background: #311f09;
            transform: rotate(-180deg);
            padding: 16px 13px;
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            cursor: pointer;

            img {

            }
        }

        ul {
            display: flex;
            gap: 15px;
            margin: 0 30px;

            li {
                font-weight: 600;
                font-size: 16px;
                line-height: 200%;
                color: var(--primary);
                border-radius: 15px;
                width: 55px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: relative;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    background: var(--primary);
                    width: 100%;
                    height: 100%;
                    opacity: 0.1;
                }
            }
        }

    }
}

@include big-tablet {
    .homeMenu {
        &__container {
            padding: 62px 25px 62px;
        }

        &__grid {
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
        }

        &__cats {
            max-width: 800px; /* Ограничиваем ширину контейнера */
            overflow-x: auto;
            justify-content: flex-start;
            padding: 0;
        }
    }
}

@include mobile {
    .homeMenu {
        &__container {
            padding: 94px 25px 62px;
        }

        &__grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            place-items: center;
        }

        &__cats {
            max-width: 350px;
            overflow-x: auto;
            justify-content: flex-start;
            padding: 0;
        }

        &__pagination {
            ul {
                li {
                    display: none;

                    &:nth-child(1) {
                        display: flex;
                    }
                }
            }
        }
    }
}