.reservation {
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        padding: 133px 0;

        h3 {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: clamp(30px, 7vw, 80px);
            line-height: 110%;
            color: var(--text);
        }
    }

    &__title-mob {
        display: none;
        text-align: center;
    }

    &__img {
        position: relative;       
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        left: -170px;
        // margin-right: 10px; 

        &::before {
            content: '';
            position: absolute;
            background: #d0ccc7;
            opacity: 0.1;
            height: 100%;
            width: 100%;
            right: 0;
            top: 0;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            background: #d0ccc7;
            // background: black;
            opacity: 0.1;
            height: 100%;
            width: 100vw;
            left: -100vw;
            top: 0;
        }

        img {
            z-index: 2;
            margin: clamp(26px, 36vw, 69px) clamp(26px, 36vw, 69px) clamp(26px, 36vw, 69px) 0;
            height: clamp(203px, 36vw, 526px);
            width: clamp(203px, 36vw, 526px);
        }
    }

    &__form {
        padding-top: 5px;

        button {
            font-weight: 600;
            font-size: clamp(16px, 4vw, 25px);
            line-height: 110%;
            width: 100%;
            padding: 36px;
            border-radius: 20px;
            margin-top: 40px;
        }
    }

    &__dropdowns {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 50px;

    }

    &__dropdown {
        font-weight: 400;
        font-size: clamp(12px, 3vw, 20px);
        line-height: 110%;
        color: #a0978c;
        position: relative;

        input {
            position: relative;
            border-radius: 20px;
            overflow: hidden;
            padding: 39px 50px;
            display: flex;
            align-items: center;
            width: 100%;
            font-size: clamp(12px, 3vw, 20px);
            color: #a0978c;

            &::placeholder {
                color: #a0978c;
            }

            &::before {
                content: '';
                position: absolute;
                background: #d0ccc7;
                opacity: 0.1;
                height: 100%;
                width: 100%;
                right: 0;
                top: 0;
            }
        }


        &-item {
            position: relative;
            overflow: hidden;
            padding: 39px 50px;
            display: flex;
            align-items: center;
            width: 100%;
            z-index: 5;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: #d0ccc7;
                opacity: 0.1;
                left: 0;
            }
        }

        &-btn {
            position: relative;
            border-radius: 20px;
            overflow: hidden;
            padding: 39px 50px;
            display: flex;
            align-items: center;
            width: 100%;


            &::before {
                content: '';
                position: absolute;
                background: #d0ccc7;
                opacity: 0.1;
                height: 100%;
                width: 100%;
                right: 0;
                top: 0;
            }

            &::after {
                content: '';
                position: absolute;
                right: 36px;
                top: 50%;
                background-image: url(../../../src/assets/arrow_back.svg);
                width: 25px;
                height: 25px;
                filter: brightness(0) saturate(100%) invert(10%) sepia(11%) saturate(6224%) hue-rotate(6deg) brightness(93%) contrast(93%);
                background-repeat: no-repeat;
                transform: rotate(-90deg) translateX(50%);
            }

        }

        &-list {
            display: none;
            max-height: 300px;
            overflow-y: auto;
            position: absolute;
            width: 100%;
            z-index: 3;
            background: #fff;


            &-open {
                display: block;
            }
        }
    }

    &__success {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 20;
        display: none;

        &-bg {
            background: #000;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.4;
            z-index: 21;
            
        }

        &-msg {
            background: #fff;
            max-height: 450px;
            height: 100%;
            max-width: 450px;
            width: 100%;
            z-index: 22;
            position: absolute;
            top: 300px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            font-size: 22px;
            color: var(--text);
            border-radius: 20px;

            img {
                height: 70px;
                width: 70px;
            }

            button {
                margin-top: 15px;
            }
        }
    }
}

@include big-tablet {
    .reservation {
        &__container {
            flex-direction: column;
            padding: 12px 0;
            width: 100%;
        }

        &__title {
            display: none;

            &-mob {
                display: block;
            }
        }

        &__form {
            padding: 26px;
        }

        &__img {
            left: -40px;
            margin-top: 60px;
            display: none;
        }
    }
}